---
title: Project Management Support
suppress_header: true
description: "Project Management support helps your organization realize your GitLab return on investment quicker."
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Project Management Support 
    %h3.headline-subtitle
      Let our project management team help you get your project off the ground quicker, safer, and with the desired result.

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-para
          We have all heard about disastrous projects and the effects they can have on an organization. The reasons for failed projects are many and quite varied. Poor communication with stakeholders, bad requirements scoping, messy transitions to production, and budget overruns, to name just a few.  GitLab's Professional Services Project Management team can help your organization avoid costly mistakes.
        %p.service-para
          The Professional Services team will help deliver value to your organization.  GitLab can help you develop your project plan quicker.  Whether by identifying proper resources, analyzing risks, managing stakeholders, documenting plans, or managing expectations, GitLab has you covered.

        %h2 Who is this service for?
        %p.service-para
          This service can be valuable for anyone implelmenting GitLab.  Our team of experts is ready to assist in any capacity to insure your project succeeds.

.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
